
.banner video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.video-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    float: unset;
    position: relative;
}
.video-area video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

#book-early {
    border: 0;
}
